*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        border-width: 2rem;
        outline: none;
        scroll-behavior: smooth;
        font-family: "Poppins",sans-serif;
    }
    :root{
        --bg-color: #080808;
        --second-bg-color:#101010;
        --text-color: white;
        --main-color: #FDA14C;
    }

    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
    body{
        background: var(--bg-color);
        color: var(--text-color);
    }
    .header{
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        width: 100%;
        padding: 3rem 9%;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .logo{
        font-size: 3rem;
        color: var(--text-color);
        font-weight: 800;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .logo:hover{
        transform: scale(1.1);
    }
    .logo span{
        text-shadow: 0 0 25px var(--main-color);
    }
    .navbar {
        display: flex;
        
    }
    .navbar #menu-icon{
        
        align-items: center;
    }
    .navbar a{
        font-size: 2rem;
        color: white;
        margin-left: 4rem;
        font-weight: 600;
        transition: 0.3s ease;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        
    }
    
    .dropdown-content {
        display: none;
        text-align: center;
        background-color: white transparent;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        /* padding: 12px 16px; */
        padding: 2rem;
        text-decoration: none;
        display: block;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover a {
        color: var(--text-color);
        text-shadow: 0 0 25px var(--main-color),
                    0 0 50px var(--main-color);
    }

    section{
        min-height: 100vh;
        padding: 10rem 9% 10rem;
        margin: auto;
    }
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin: 5px;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 3rem;
    }
    span{
        color: var(--main-color);
    }
    .logo span{
        color: var(--main-color);
    }
    .home-img{
        border-radius: 50%;
    }
    .home-img img{
        position: relative;
        top: 3rem;
        width: 18vw;
        border-radius: 50%;
        box-shadow: 0 0 25px var(--main-color),
                    0 0 50px var(--main-color);
        cursor: pointer;
        transition: 0.4s ease;
    }
    .home-img img:hover{
        box-shadow: 0 0 50px var(--main-color),
                    0 0 100px var(--main-color);
    }
    .home-content h3{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 3.5rem;
    }
    .home-content h1{
        font-size: 5rem;
        font-weight: 700;
        margin-top: 1.5rem;
        line-height: 1;
    }
    .social-icons a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        height: 4.5rem;
        background: transparent;
        border: 0.2rem solid var(--main-color);
        font-size: 2.5rem;
        border-radius: 50%;
        color: var(--main-color);
        margin: 3rem 1.5rem 3rem 0;
        transition: 0.3s ease;
    }
    .social-icons a:hover{
        color: #ffffff;
        transform: scale(1.3)translateY(-5px);
        box-shadow: 0 0 25px var(--main-color);
        background-color: var(--main-color);
    }
    .btn{
        display: inline-block;
        padding: 1rem 2.8rem;
        background: var(--main-color);
        box-shadow: 0 0 15px var(--main-color);
        border-radius: 4rem;
        font-size: 1.6rem;
        color: white;
        border: 2px solid transparent;
        letter-spacing: 0.1rem;
        font-weight: 600;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    .btn:hover{
        transform: scale(1.05);
        box-shadow: 0 0 50px var(--main-color);
    }
    .text-animation{
        font-size: 3rem;
        font-weight: 500;
        min-width: 200px;
    }
    .text-animation span{
        position: relative;
    }
    .text-animation span::before{
        content: '' ;
        color: var(--main-color);
        animation: words 20s infinite;
    }
    .text-animation span::after{
        content: '';
        background-color: var(--bg-color);
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid var(--bg-color);
        right: -8px;
        animation: cursor 0.6s infinite, typing 20s steps(14)infinite;
    }
    @keyframes cursor{
        to{
            border-left: 2px solid var(--main-color);
        }
    }
    @keyframes words{
        0%,
        20%{
            content: 'Assertive Person';
        }
        21%,
        40%{
            content: 'Engineering Student';
        }
        41%,
        60%{
            content: 'Imaginary Writer';
        }
        61%,
        80%{
            content: 'Ordinary Woman';
        }
        81%,
        100%{
            content: 'Unique Daughter';
        }
    }
@keyframes typing{
        10%,
        15%,
        30%,
        35%,
        50%,
        55%,
        70%,
        75%,
        90%,
        95%{
            width: 0;
        }
        5%,
        20%,
        25%,
        40%,
        45%,
        60%,
        65%,
        80%,
        85%{
            width: calc(100% + 8px) ;
        }
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        background: var(--second-bg-color);
        color: #ffffff;
    }
    .about h2 span{
        color: var(--main-color);
        text-shadow: 0 0 50px var(--main-color);
    }
    .about-img{
        border-radius: 100%;
    }
    .about-img img{
        position: relative;
        width: 25vw;
        border-radius: 50%;
        box-shadow: 0 0 25px var(--main-color),
                    0 0 50px var(--main-color);
        top: 1rem;
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
    .about-img img:hover{
        box-shadow: 0 0 50px var(--main-color),
                    0 0 100px var(--main-color);
    }
    .heading{
        text-align: center;
        font-size: 8rem;
    }
    .about-content h2{
        text-align: left;
        line-height: 1.5;
    }
    .about-content h3{
        font-size: 2.6rem;
    }
    .about-content p{
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
    }
    .about-content.text-animation span::before{
        content:'' ;
        color: var(--main-color);
        animation: words 20s infinite;
    }
    .about-content.text-animation span::after{
        content: '';
        background-color: var(--second-bg-color);
        position: absolute;
        width: calc(100% + 8px);
        height: 100%;
        border-left: 3px solid var(--second-bg-color);
        right: -8px;
        animation: cursor 0.6s infinite, typing 20s steps(14)infinite;
    }

    ::-webkit-scrollbar{
        width: 15px;
    }

    ::-webkit-scrollbar-thumb{
        background-color: var(--main-color);
    }

    ::-webkit-scrollbar-track{
        background-color: var(--bg-color);
        width: 40px;
    }
    .experience{
        background: var(--bg-color);
        color: white;
    }
    .experience h2{
        margin-bottom: 5rem;
        color: white;
    }
    .experience-container{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        align-items: center;
        gap: 2.5rem;
    }
    .experience-box{
        background-color: var(--main-color);
        height: 250px;
        border-radius: 5rem;
        cursor: pointer;
        transition: 0.3 ease;
    }
    .experience-box:hover{
        background: white;
        color:var(--main-color);
        transform: scale(1.03);
    }
    .experience-box.experience-info{
        display: flex;
        flex-direction: column;
        text-align:center;
        max-height: 200px;
        justify-content: center;
        align-items: baseline;
        padding: 3rem;
    }
    .experience-info h4{
        font-size: 3rem;
        font-weight: 700;
        margin-top: 5rem;
        margin-bottom: 2rem;
        text-align: center ;
        
    }
    .experience-info p{
        font-size: 2rem;
        font-weight: 500;
        max-height: 100px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .experience-info li{
        font-size: 1.3rem;
        font-weight: 400;
        max-height: 100px;
        text-align: center;
        margin: auto;
    }

    .get{
        background: var(--second-bg-color);
        color: white;
        
    }
    .get h2{
        margin-bottom: 5rem;
        color: white;
    }
    .get-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        gap: 2.5rem;
    }

    .get-box {
        background: var(--main-color) transparent;
        height: 200px;
        border-radius: 5rem;
        cursor: pointer;
        transition: 0.3s ease;
        display: flex; 
        justify-content: center;
        align-items: center; 
        text-align: center; 
        padding: 2rem; 
    }
    .get-box:hover{
        background: var(--main-color) ;
        color:var(--text-color);
        transform: scale(1.03);
    }

    .get-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        text-align: center;
    }

    .get-info h4 {
        font-size: 1.8rem;
        font-weight: 300;
        margin: 1rem 0; /* Adjusted margin for better spacing */
    }
    
    .get-info i{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        height: 4.5rem;
        background: transparent;
        border: 0.2rem solid white;
        font-size: 2.5rem;
        border-radius: 50%;
        color: white;
        margin: 3rem 1.5rem 3rem 0;
        transition: 0.3s ease;
    }


    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 40px 0;
        background-color: var(--main-color);
        text-align: center;
        line-height: 1;
    }
    .footer h1{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .footer p{
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    .footer form{
        font-size: 1rem;
    }

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .experience-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,2fr);
        margin: 0 5rem;
    }
    .get-container{
        padding-bottom: 5rem;
        grid-template-columns: repeat(2,2fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    .dropdown{
        padding: 2rem 3%;
    }
    section{
        padding:10rem 3%;
    }
    .experience{
        padding-bottom: 7rem;
    }
    .get{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px) {
    #menu-icon{
        display: block;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.9);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        /* display: none ; */
    }
    .navbar{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
        text-align: left;
    }
    .dropdown-content{
        flex-direction: column;
        font-size: 1.3rem;
        text-align: left;
    }

    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 52vw;
        margin-top: -2rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-content{
        margin: 0 2rem 4rem;
    }
    .about-img img{
        width: 52vw;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .experience h2{
        margin-bottom: 3rem;
    }
    .experience-container{
        grid-template-columns: repeat(1,1fr);
    }
    .get h2{
        margin-bottom: 3rem;
    }
    .get-container{
        grid-template-columns: repeat(1,1fr);
    }
}